* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
.list {
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}
.list-text {
	padding: 20px 0 20px 20px;
	list-style: none;
}
.list-text:nth-child(odd) {
	background-color: #eee;
}
.box {
	width: 960px;
	height: 680px;
	margin: 0 auto 50px auto;
}
.box-img {
	float: left;
	width: 30%;
	height: 200px;
}
.box-img:nth-child(1) {
	background-color: #ff8c00;
	margin-bottom: 40px;
	margin-right: 5%;
}
.box-img:nth-child(2) {
	background-color: #ffd700;
	margin-bottom: 40px;
	margin-right: 5%;
}
.box-img:nth-child(3) {
	background-color: #ffd700;
	margin-bottom: 40px;
}
.box-img:nth-child(4) {
	background-color: #ffd700;
	margin-bottom: 40px;
	margin-right: 5%;
}
.box-img:nth-child(5) {
	background-color: #ff8c00;
	margin-bottom: 40px;
	margin-right: 5%;
}
.box-img:nth-child(6) {
	background-color: #ffd700;
	margin-bottom: 40px;
}
.box-img:nth-child(7) {
	background-color: #ffd700;
	margin-right: 5%;
}
.box-img:nth-child(8) {
	background-color: #ffd700;
	margin-right: 5%;
}
.box-img:nth-child(9) {
	background-color: #ff8c00;
}